@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Source+Sans+Pro:wght@300;400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
  width: 50%;
  margin: 0 auto;
  background-color: transparent;
  margin-bottom: 3.2rem;
  font-size: 1.9rem;
  letter-spacing: 0.1rem;
  line-height: 5.4rem;
  font-weight: 300;
  font-family: "Montserrat";
}
.ocean a {
  border: 0.2rem solid rgb(33, 172, 182);
}

.mountants a {
  border: 0.2rem solid rgb(33, 172, 182);
}

.forest a {
  border: 0.2rem solid rgb(16, 155, 28);
}

a:hover {
  background-color: rgb(131, 9, 110);
  cursor: pointer;
  color: #fff;
  border: rgb(131, 9, 110) 0.2rem solid;
}

img {
  display: block;
  max-width: 100%;
}

body {
  background-color: rgb(230, 219, 219);
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 10px;
}

.main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  gap: 4rem;
  max-width: 120rem;
  margin: 0 auto;
}

.item {
  text-align: center;
  margin-top: 8rem;
  margin-bottom: 8rem;
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  background-color: #fff;
  color: #879187;
}

.item .des > p {
  line-height: 5rem;
  font-size: 1.6rem;
  width: 100%;
  height: 5rem;
  color: #5f727f;
  font-weight: 400;
  font-family: "Source Sans Pro";
  text-align: center;
}

.item .des > p:nth-child(odd) {
  background-color: #f4f6f7;
}

.item .des > p:last-child {
  margin-bottom: 5rem;
}

h2 {
  height: 27.2rem;
  letter-spacing: 0.2rem;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  font-size: 3.6rem;
}

h3 {
  padding: 0 16% 0 16%;
  font-size: 2.4rem;
  line-height: 3.7rem;
  color: #5f727f;
  font-weight: 300;
  font-family: "Source Sans Pro";
}

h3 p {
  font-size: 1.2rem;
  line-height: 2.5rem;
  color: #99a9b5;
  font-weight: 400;
  font-family: "Source Sans Pro";
}

.ocean h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-image: url("./img/ocean.png");
  background-position: center;
}

.mountants h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-image: url("./img/mountain.png");
  background-position: center;
}

.mountants h2 p {
  font-size: 1.4rem;
  line-height: 2.5rem;
  color: #b6c6c9;
  font-weight: 400;
  font-family: "Source Sans Pro";
}

.forest h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-image: url("./img/forest.png");
  background-position: center;
}

.ocean {
  position: relative;
}
.mountants {
  position: relative;
}
.forest {
  position: relative;
}

.ocean .price {
  color: rgb(33, 172, 182);
  font-weight: 300;
}
.mountants .price {
  color: aquamarine;
  font-weight: 300;
}
.forest .price {
  color: chartreuse;
  font-weight: 300;
}

.price {
  position: absolute;
  top: -5.4rem;
  left: 50%;
  transform: translate(-50%);
  height: 11rem;
  width: 11rem;
  background-color: #fff;
  color: #333;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new {
  background-image: url("./img/newmark.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
  position: absolute;
  width: 6.6rem;
  height: 6.6rem;
  top: 0;
  left: 0;
  transform: translate(-28%, -28%);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  transform: translate();
  font-size: 1.2rem;
  letter-spacing: 1px;
  line-height: 5rem;
  color: #ffffff;
  font-weight: 700;
  font-family: "Montserrat";
}
