@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
  width: 50%;
  margin: 0 auto;
  background-color: transparent;
  margin-bottom: 3.2rem;
}
.ocean a {
  border: 0.2rem solid rgb(33, 172, 182);
}

.mountants a {
  border: 0.2rem solid rgb(33, 172, 182);
}

.forest a {
  border: 0.2rem solid rgb(16, 155, 28);
}

a:hover {
  background-color: rgb(131, 9, 110);
  cursor: pointer;
  color: #fff;
  border: rgb(131, 9, 110) 0.2rem solid;
}

img {
  display: block;
  max-width: 100%;
}

body {
  background-color: rgb(230, 219, 219);
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 10px;
}

.main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  gap: 4rem;
  max-width: 90rem;
  margin: 0 auto;
}

.item {
  text-align: center;
  margin-top: 8rem;
  margin-bottom: 8rem;
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  background-color: #fff;
  color: #879187;
}

.item > p {
  line-height: 2.4;
  font-size: 1.6rem;
  padding: 0 16% 0 16%;
}

h2 {
  height: 20rem;
}

h3 {
  padding: 0 16% 0 16%;
  font-size: 1.8rem;
}

h3 p {
  font-size: 0.8rem;
}

.ocean h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-image: url("./img/ocean.png");
  background-position: center;
}

.mountants h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-image: url("./img/mountain.png");
  background-position: center;
}

.mountants h2 p {
  font-size: 0.8rem;
}

.forest h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-image: url("./img/forest.png");
  background-position: center;
}

.ocean {
  position: relative;
}
.mountants {
  position: relative;
}
.forest {
  position: relative;
}

.price {
  position: absolute;
  top: -5.4rem;
  left: 50%;
  transform: translate(-50%);
  height: 11rem;
  width: 11rem;
  background-color: #fff;
  color: #333;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new {
  background-image: url("./img/newmark.png");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  width: 6.4rem;
  height: 6.4rem;
  top: 0;
  left: 0;
  transform: translate(-30%, -30%);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  transform: translate();
}
